<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../static/style.css">
    <title>CS493 Portfolio Project - Boats and Loads</title>
</head>
<body>
    <div class="content-container">
        <h1>CS493 Portfolio Project</h1>
        {% if session %}
            <h2>Logged in as: {{session.userinfo.name}}</h2>
            <h3>User's JWT:</h3>
            <div class="jwt">{{jwt}}</div>
            <h3>User's ID:</h3>
            <div class="jwt">{{user_id}}</div>
            <a href="/logout" class="btn">Logout</a>
        {% else %}
            <h2>You are not logged in yet. Click the button to log in.</h2>
            <a href="/login-btn" class="btn">Login / Register</a>
        {% endif %}
    </div>
</body>
<footer>
    <p class="footer-desc">&copy 2023 Long To Lotto Tang</p>
</footer>
</html>